{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block header %}Немного обо мне{% endblock %}

{% block content %}
  <p>
    Всем привет! Меня зовут Василий. Хотел бы немного рассказать о себе. Мне
    32 года. Основной род занятий - преподавание, готовлю детишек к сдаче
    экзаменов по математике и информатике. Сначала вел занятия на языке
    Pascal, но потом познакомился с Python и влюбился в него. Дальнейшее
    знакомство с этим замечательным языком и привело меня на этом курс. Очень
    надеюсь дойти до конца, но мне очень нравится!
  </p>
  <p>Вот <a href="https://hh.ru/resume/a05a758fff028083840039ed1f6733374a4341#key-skills" target="_blank">ссылка</a> на мое резюме</p>
  <p>А это <a href="https://github.com/Vasilui" target="_blank">ссылка</a> на github</p>
{% endblock %}
