{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <h1>Вот что я умею</h1>
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          Bootstrap
        </li>
        <li class="list-group-item">
          Команда <span style="color:red">Ya</span>ndex.Практикума
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        В колонке слева перечислены основные технологии применимые в этом проекте
      </p>
      <p>
        В процессе работы над проектом, эта страница будет обновляться
      </p>
    </article>
  </div>
{% endblock %}